# Node modules
node_modules/

# Build output
dist/
out/
build/

# System files
.DS_Store
Thumbs.db

# Logs
*.log*

# Environment variables
.env

# Editor/IDE files
.vscode/
.idea/

# ESLint cache
.eslintcache
